* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    font-size: 16px;
    --backgroundColor: #787a7a;
    /* --backgroundColor: #505c7c; */
    --fontColor: #03084e;
    --labelColor: #787a7a;
    --highlightColor: #e6f10c;
    --formColor: black;

    --h1Size: clamp(2.5rem, 4vw, 4rem);
    --textSize: clamp(1rem, 2vw + 1rem, 1.5rem);
    --labelSize: clamp(1rem, 1vw + 0.25rem, 1.25rem);
    --buttonTextSize: clamp(1rem, 2.2vw, 1.25rem);

}

#container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#left {
    background-image: url("./images/comicHero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 4;
}

#right {
    background-color: var(--backgroundColor);
    flex: 6;
}

#headingContainer {
    margin: var(--h1Size) 0;
    display: flex;
    justify-content: center;
    text-align: center;
    /* border: 1px solid red; */
    position: relative;
}

#headingContainer::after {
    content: "";
    width: 60%;
    height: 200%;
    background-color: var(--highlightColor);
    position: absolute;
    top: -50%;
    z-index: 1;
    border-radius: 50%;
}

h1 {
    font-size: var(--h1Size);
    z-index: 2;
}

main {
    display: flex;
    flex-direction: column;
}

#headingContainer, .dummyText, #formContainer, #buttonContainer, #logInContainer {
    padding: 0 5%;
}

.dummyText {
    margin-bottom: calc(var(--textSize) * 1.5);
}

.dummyText p {
    font-size: var(--textSize);
    line-height: 1.3;
}

.dummyText p:last-child {
    margin-top: var(--textSize);
}

#formContainer {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--formColor);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.inputContainer {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    margin: 10px 0;
}

label {
    color: var(--labelColor);
    font-weight: bold;
    font-size: var(--labelSize);
}

input {
    width: 80%;
    padding: 5px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--labelColor);
}

input:focus {
    outline: none;
    border: 2px solid var(--highlightColor);
}

#buttonContainer {
    margin: var(--buttonTextSize) 0;
}

#buttonContainer button {
    padding: .75em 2em;
    background-color: var(--highlightColor);
    color: var(--fontColor);
    font-weight: bold;
    font-size: var(--buttonTextSize);
    outline: none;
    border: 2px solid var(--fontColor);
    box-shadow: 5px 10px 10px black;
}

#buttonContainer button:hover {
    position: relative;
    box-shadow: none;
    top: 10px;
    left: 5px;
    cursor: pointer;
}

#logInContainer {
    font-size: var(--textSize);
    margin-top: var(--textSize);
}

#logInContainer a {
    text-decoration: none;
    color: var(--highlightColor);
}

